# dependências
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Nativos
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# arquivos de ambiente 
.env*.local

# typescript
*.tsbuildinfo

app-example

# IOS
ios/

# API Firebase Firestore - nao pode puxar durante a build
#**/FirebaseConfig.jsx

.Lixo/
.Lixo(2)/
